<header id="main-nav" role="banner" class="site-header">
    {# <pre>{{ dump(page.navigation|keys) }}</pre> #}
    <div class="site-header__content">
        <div class="site-header__logo-wrap">
            {{ page.navigation.sitebranding }}
        </div>

        <button id="hamburger" class="site-header__hamburger js-hamburger-toggle">
            <span class="visually-hidden">toggle menu</span>
            <span class="site-header__hamburger-line" aria-hidden="true"></span>
            <span class="site-header__hamburger-line" aria-hidden="true"></span>
            <span class="site-header__hamburger-line" aria-hidden="true"></span>
            <span class="site-header__hamburger-line" aria-hidden="true"></span>
        </button>

        <div class="site-header__dropdown transition" id="dropdown">
            <nav class="site-nav">
                {{ page.navigation.mainnavigation }}
            </nav>

            {{ page.navigation.cornell_search }}
        </div>

        <span class="site-header__overlay js-hamburger-toggle" aria-hidden="true"></span>
    </div>
</header>