.person-sidebar {
    width: 20rem;
    flex-shrink: 0;
    border-top: 2px solid $primary--light;
    padding-top: 1.5rem;

    &__heading {
        font-family: $font-headline;
        font-size: 1.25rem;
        font-weight: 400;
        color: $dark;
        line-height: .95;
        margin: 0 0 1rem 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
        font-size: 1.25rem;
    }

    &__field {
        margin-bottom: .25rem;
    }

    &__link {
        @include link;
    }
}

@media screen and (max-width: $break-lg) {
    .person-sidebar {
        width: 100%;
        order: -1;
    }
}