.horizontal-align-desktop {
    &--left {
        text-align: left;
        justify-content: flex-start;
    }

    &--center {
        text-align: center;
        justify-content: center;
    }
}

.vertical-align-desktop {
    &--top {
        align-items: flex-start;
    }

    &--middle {
        align-items: center;
    }

    &--bottom {
        align-items: flex-end;
    }
}

@media screen and (max-width: $break-meds) {
    .horizontal-align-mobile {
        &--left {
            text-align: left;
        }

        &--center {
            text-align: center;
        }
    }

    .vertical-align-mobile {
        &--top {
            align-items: flex-start;
        }

        &--middle {
            align-items: center;
        }

        &--bottom {
            align-items: flex-end;
        }
    }
}