.chat-bubble {
    $parent: &;
    position: fixed;
    z-index: 100;
    right: 3.5rem;
    bottom: 3.5rem;

    &.open {
        #{$parent} {
            &__popup {
                border-radius: 0;
                opacity: 1;
                transform: scale3d(1, 1, 1);
                transition: transform $easing--quick, border-radius $easing--quick;

                > * {
                    opacity: 1;
                }
            }

            &__trigger {
                &::after {
                    opacity: 0;
                }
            }
        }
    }

    &__popup {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        background-color: $primary--light;
        min-width: 400px;
        color: $light--light;
        opacity: 0;
        box-shadow: 0 15px 20px 0 rgba(161, 161, 161, .3);
        transform-origin: calc(100% - 1rem) calc(100% - 1rem);
        transform: scale3d(0, 0, 1);
        transition: transform $easing--quick, opacity .01s linear .12s, border-radius $easing--quick;
        border-radius: 50%;

        > * {
            opacity: 0;
        }
    }

    &__popup-content {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
    }

    &__close {
        position: absolute;
        top: -1rem;
        right: -1rem;
        background-color: $light--light;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        border: 0;
        box-shadow: 0 4px 11px 0 rgba($dark--dark, .30);

        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 25%;
            width: 50%;
            height: 1px;
            background-color: $dark--dark;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__contact {
        border-top: 1px solid rgba($light--light, .5);
        border-bottom: 1px solid rgba($light--light, .5);
    }

    &__heading {
        font-family: $font-headline;
        font-weight: 400;
        font-size: 1.5rem;
        margin: .75rem 0;
    }

    &__address-wrap {
        display: flex;
        margin-bottom: 1.5rem;
    }

    &__person {
        flex-shrink: 0;
        margin-top: .5rem;
    }

    &__address {
        flex-grow: 1;
        margin-left: 1.5rem;

        p {
            margin: 0;
            font-size: 1.125rem;

            &:first-of-type {
                font-size: 1.25rem;
                margin-bottom: .125rem;
            }
        }
    }

    &__trigger {
        position: relative;
        width: 4.25rem;
        height: 4.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 0;
        appearance: none;
        background-color: $primary--light;
        transition: transform $easing--regular, border-radius $easing--regular;

        // Bubble arrow
        &::before {
            content: '';
            position: absolute;
            bottom: .25rem;
            left: .25rem;
            width: 1rem;
            height: 1rem;
            background-color: inherit;
            transform: skew(-30deg) rotate(-12.5deg);
            border-radius: 3px;
        }

        // Shadow, it's in an after so we can animate it separately
        &::after {
            content: '';
            position: absolute;
            z-index: -2;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            left: 0;
            top: 0;
            box-shadow: 0 17px 20px 0 rgba(0, 0, 0, .12);
            transition: transform $easing--regular, opacity $easing--quick;
        }

        &:hover, &:focus {
            outline: none;
            transform: rotate3d(0, 0, 1, 90deg);

            #{$parent}__icon {
                transform: rotate3d(0, 0, 1, -90deg);
            }

            &::after {
                transform: rotate3d(0, 0, 1, -90deg);
            }
        }
    }

    &__icon {
        fill: $light--light;
        width: 38px;
        height: 28px;
        transition: transform $easing--regular;
    }

    .webform-submission-form {
        width: 100%;
    }

    .form-actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &::after {
            content: '';
            width: 40px;
            height: 37px;
            margin-left: 1rem;
            background-image: url("data:image/svg+xml, %3Csvg width='42' height='39' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.232 1.102c-.439-.22-.963-.058-1.335.238-.01.01-.029.01-.039.02L1.34 20.866c-.372.124-.63.63-.63 1.126 0 .496.248 1.001.754 1.126l10.856 4.025 3.205 9.406a1.174 1.174 0 0 0 .754 1.288c.171.105.372.162.572.162.267 0 .534-.067.754-.286.229-.19.42-.468.562-.811l4.532-6.687 10.665 4.397c.372.248.753.124 1.125 0 .372-.123.496-.496.63-.877l5.876-31.27c-.01-.62-.257-1.116-.763-1.364zM5.098 21.735L31.484 7.98 12.978 24.616l-7.88-2.88zm12.745 4.751c-.124.124-.248.248-.248.372-.124.124-.124.124-.124.248l-.877 4.627-1.908-5.505L28.06 14.247 17.843 26.486zm1.584 4.035l.295-1.536.582.239-.877 1.297zm13.183 1.47l-9.835-4.103c-.01-.01-.029-.019-.038-.028a1.486 1.486 0 0 0-.468-.182l-1.66-.696L37.37 6.844 32.61 31.99z' fill='%23FFF' fill-rule='nonzero' stroke='%23EF4035' stroke-width='.5'/%3E%3C/svg%3E");
        }
    }

    .button {
        margin-top: 0;
        background-color: $light--light;
        color: $dark;
        transition: color $easing--regular, background-color $easing--regular;

        &:hover, &:focus {
            background-color: $dark;
            color: $light--light;
        }
    }
}

@media screen and (max-width: $break-meds) {
    .chat-bubble {
        $parent: &;

        right: 2rem;
        bottom: 2rem;
        
        &__popup {
            min-width: 0;
            width: calc(100vw - 4rem);
            height: calc(100vh - 4rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__popup-content {
            overflow: hidden;
            overflow-y: auto;
        }
    }
}
