@mixin link {
    position: relative;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: $dark;
    text-decoration: underline;
    text-decoration-color: $primary--light;

    &:hover, &:focus {
        color: $dark;
    }

    &:active {
        text-decoration: none;
        color: $dark;

        &::before {
            transform: scale(.6);
        }
    }
}
