$mobile-nav-height: 80px;

@import 'header/site-nav';

.site-header {
    $parent: &;

    &__search {
        margin-top: auto;
        overflow: hidden;
        width: 100%;

        // Not sure how to get around the way this is set up in drupal
        .form-item-keys {
            position: relative;
            display: flex;
            margin: 0;
        }
    }

    &__search-input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid $primary;
        font-family: $font-body;
        font-size: 1.125rem;
        padding: .75rem .75rem .65rem 3.5rem;
        transition: box-shadow $easing--regular;
        appearance: none;
        border-radius: 0;
        
        &:focus {
            outline: none;
            box-shadow: inset 0 -2px 0 $primary;
        }
    }

    &__search-submit {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        background: transparent;
        border: 0;
        border-radius: 0;
        appearance: none;

        &:focus {
            outline: 1px solid $dark--dark;
            outline-offset: -1px;
        }
    }

    &__search-icon {
        width: 1.25rem;
        height: 1.25rem;
        stroke: $dark--light;
    }
}

// 960+ 
@media screen and (min-width: $break-lg) {
    .site-header {
        $parent: &;
        position: fixed;
        z-index: 100;
        height: 100vh;
        border-right: 1px solid lighten($secondary--light, 10%);

        + div {
            padding-left: 7rem;
        }
        
        &__content {
            position: relative;
            max-width: 7rem;
            min-width: 7rem;
            height: 100%;
            padding: 1.75rem;
            background-color: $light--light;
            transition: min-width $easing--regular;
            display: flex;
            flex-direction: column;
            will-change: min-width;

            &:focus-within {
                min-width: 20rem;

                .site-nav {
                    overflow: visible;

                    &__link {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            &:hover, &.focused {
                min-width: 20rem;

                .site-nav {
                    overflow: visible;

                    &__link {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            &:not(:hover):not(:focus-within):not(.focused) {
                .site-nav__secondary {
                    transition: opacity .06s ease-out;
                }
            }
        }

        &__logo-wrap {
            overflow: hidden;
            display: flex;
            margin-bottom: 2rem;
        }

        &__logo-image {
            width: 11.25rem;
        }

        &__hamburger {
            display: none;
        }

        &__dropdown {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        &__search {
            margin-bottom: 4rem;
        }
    }
}

// 960-
@media screen and (max-width: $break-lg) {
    .content-wrapper {
        padding-top: $mobile-nav-height;
    }

    .site-header {
        $parent: &;
        position: fixed;
        z-index: 100;
        height: $mobile-nav-height;
        width: 100%;
        background-color: $light--light;
        border-bottom: 1px solid lighten($secondary--light, 10%);
        box-shadow: 0 2px 8px 0 rgba($light--dark, .25);

        + div {
            padding-top: $mobile-nav-height;
        }

        &__content {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__logo-wrap {
            margin: .5rem;
        }

        &__logo-link {
            display: flex;
        }

        &__logo-image {
            height: $mobile-nav-height - 16px;
        }

        &__hamburger {
            position: relative;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: auto;
            margin-right: 1rem;
            background: transparent;
            border: 0;

            // Tap target enlarging
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                left: -.5rem;
                top: -.5rem;
                height: 2.5rem;
                width: 2.5rem;
            }

            &[aria-expanded="true"] {
                #{$parent}__hamburger-line {
                    &:first-of-type, &:last-of-type {
                        transform: scale3d(0, 1, 1);
                    }
    
                    &:nth-of-type(2) {
                        transform: rotate(45deg);
                    }
    
                    &:nth-of-type(3) {
                        transform: rotate(-45deg);
                    }
                }

                ~ #{$parent}__dropdown {
                    transform: translate3d(0, 0, 0);
                }

                // todo: figure out why this is borked
                ~ #{$parent}__overlay {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        &__hamburger-line {
            position: absolute;
            left: 0;
            top: calc(50% - 1px);
            width: 100%;
            height: 2px;
            background-color: $light--dark;
            transition: transform $easing--quick;
            pointer-events: none;

            &:first-of-type {
                top: calc(50% - 8px);
            }

            &:last-of-type {
                top: calc(50% + 6px);
            }
        }

        &__dropdown {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            max-height: calc(100vh - #{$mobile-nav-height});
            max-width: 25rem;
            padding-bottom: 4rem;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            background-color: #f3f3f3;
            border-top: 1px solid lighten($secondary--light, 10%);
            box-shadow: inset 0 6px 8px -4px rgba($light--dark, .25);
            transform: translate3d(100%, 0, 0);
            transition: transform $easing--regular;
            will-change: transform;
        }

        &__overlay {
            position: absolute;
            z-index: -1;
            right: 0;
            top: $mobile-nav-height;
            width: 100%;
            height: calc(100vh - #{$mobile-nav-height});
            background: rgba($dark, .25);
            opacity: 0;
            pointer-events: none;
            transition: opacity $easing--regular;
        }

        &__search {
            margin-bottom: 3rem;
            margin-top: 2rem;
            padding: 0 1.75rem;
        }
        
        &__search-input {
            background: #f3f3f3;
            padding: .75rem .75rem .65rem 2.25rem;
        }

        &__search-submit {
            left: -1.25rem;
        }
    }
}
