.page-hero {
    $parent: &;

    position: relative;
    left: -4rem;
    width: calc(100% + 8rem);
    min-height: 70vh;
    padding: 10% 20%;
    display: flex;

    &__background {
        @include overlay();
        @include full-widthify;
        overflow: hidden;
        background-color: $dark;
        background-size: cover;
        background-position: center;

        video {
            @supports (object-fit: cover) {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
            }

            position: relative;
            z-index: -2;
        }
    }

    &__overlay {
        @include overlay();
        background-color: rgba($dark, .5);
    }

    &__content {
        width: 100%;
        max-width: $max-site-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $light--light;
        margin: auto;
    }

    &__heading {
        @include h2;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__subheading {
        @include h6;
        max-width: 80%;
        text-align: center;
    }

    &__body {
        max-width: 60%;
        text-align: center;
    }
}

@media screen and (max-width: $break-meds) {
    .page-hero {
        padding: 2rem;
        left: -2rem;
        width: calc(100% + 4rem);
        
        &__subheading {
            max-width: 100%;
        }

        &__body {
            max-width: 100%;
        }
    }
}