.paragraph--type--video {
  max-width: 1100px;
  margin: 0 auto;
}

.field--name-field-video {
  text-align: center;
  height: 0;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 56.25%; // 56.25% = 16x9
  position: relative;

  iframe {
    height: 100%;
    width: 100%;
    border-width: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}
